
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <a class="navbar-brand" href="#">Graphinator</a>
</nav>

<div class="custom-container container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div *ngFor="let currentEquation of system.equations; let i = index">
        <div class="form-group">
          <div class="input-group">
            <div class="form-control equation-container" id="{{'equation-' +i}}"
            (keydown.Enter)="onEnter(i)"
            ></div>
            <!-- <input class="form-control equation-container" placeholder="type equation here" type="text" name="equation"
            [(ngModel)]="currentEquation.input" (keydown.Enter)="onEnter(i)"
            (keydown.ArrowUp)="onArrowUp(i)"
            (keydown.ArrowDown)="onArrowDown(i)"
            (keydown.Backspace)="onDelete(i)"> -->
            <div class="input-group-btn">
              <button class="btn btn-danger" (click)="remove(i)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <h6 style="color:#ccc">Press Enter to add new equation</h6>
    </div>
    <div class="col-md-8">

    </div>

  </div>
</div>
