
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <a class="navbar-brand" href="#">Graphinator</a>
</nav>

<div class="custom-container container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div *ngFor="let currentEquation of system.equations; let i = index">
        <guppy-input
          (change)="currentEquation.input=$event"
          (keydown.Enter)="onEnter(i)"
          (keydown.ArrowUp)="onArrowUp(i)"
          (keydown.ArrowDown)="onArrowDown(i)"
          (keydown.Backspace)="onDelete(i)"
          (clickRemove) = "remove(i)">
        </guppy-input>
      </div>
      <h6 style="color:#ccc">Press Enter to add new equation</h6>
    </div>
    <div class="col-md-8">

    </div>


  </div>
</div>
<p> Hello we are visible</p>

<div id="quadratic">
</div>
