
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <a class="navbar-brand" href="#">Graphinator</a>
</nav>

<div class="custom-container container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div *ngFor="let currentEquation of system.equations; let i = index">
        <guppy-input
          (change)="change(i, $event)"
          (keydown.Enter)="onEnter(i)"
          (keydown.ArrowUp)="onArrowUp(i)"
          (keydown.ArrowDown)="onArrowDown(i)"
          (keydown.Backspace)="onDelete(i)"
          (keydown.Escape)="unfocusAll()"
          (clickRemove) = "remove(i)">
        </guppy-input>
      </div>
      <button class="btn btn-success" (click)="onAdd()" style="cursor: pointer;">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
      <h6 style="color:#ccc; display: inline;">(or press Enter to add new equation)</h6>
    </div>
    <div class="col-md-8">
      <div id="quadratic">
      </div>
    </div>
    <div id="download-link">
      <a id="link" class="btn btn-success" (click)="saveSVG()">Download Me</a>
    </div>

  </div>
</div>
